.back{
  background: black; /* Fallback color */
  background: linear-gradient(to bottom,#003366, black); /* Dégradé de couleur */
  height: 'auto';
}

.back-imge{
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 height: 'auto';
}

.txt-agil{
  color: white;
  text-align: center;
  margin: auto;
  text-decoration: line-through;
  text-decoration-color: #003366;
  text-decoration-thickness:4px ;
}

.circle{
position: absolute;
border-radius: 100%;
align-content: center;
width: 70px;
height: 70px;
bottom: -50px;
right: -50px;
}

.btt{
   width: 20%;
   height: 35px;
   background-color: rgb(78, 205, 243);
   border: none;
   color: white;
}
